package pages

import "github.com/namishh/holmes/views/layouts"

templ Home(fromProtected bool, theme string, mode string) {
	<div class="sans text-gray-100">hi</div>
}

templ HomeIndex(
	title,
	username string,
	fromProtected bool,
	isError bool,
	cmp templ.Component,
) {
	@layouts.Base(title, username, fromProtected, isError) {
		@cmp
	}
}
